body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    border: 2px dotted white;
    color: white;
    padding: 0 300px; 
    background-color: #1F2937    ;
    display: flex;   
}

.logo {
    border: 2px solid white;
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
    margin: auto;
}

ul {
    border: 2px dotted yellow;
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-self: flex-end;
    flex: 1;
}

.part1 {
    border: 2px dotted yellow;
    background-color: #1F2937    ;
    display: flex;
    padding: 100px 300px;
    }

.content1 {
    border: 2px solid black;
    padding: 0;
    margin: 0;
    flex: 1;
}

.link {
    color: #e5e7eb;
    font-size: 18px;
    border: 2px solid white;
}

.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.holder {
    border: 2px solid black;
    background-color: grey;
    flex: 1;
    display: flex;
}

.center-me {
    border: 2px solid white;
    margin: auto;
    text-align: center;
    flex: 1
    }


button {
    background-color: #3882f6;
    padding: 10px 20px;
    color: #f9faf8;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}

h1 {
    text-align: center;
}

.bigbox{
    border: 2px dotted magenta;
    display: flex;
    justify-content: center;
    padding: 0 400px;
    gap: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.wrapper {
    border: 2px solid greenyellow;
    background-color: aqua;
    width: 100px; 
}

.bluebox {
    justify-content: center;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}

.part3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 400px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.author {
    text-align: end;
}

.cta {
    margin: 100px 300px;
    border: 2px solid #3882f6;
    background-color: #3882f6;
    display: flex;
    padding: 50px;
}

.content3 {
    border: 2px dotted green;
    padding: 30px;
}

.button2{
    border: 2px solid #e5e7eb;
    
}

footer{
    display: flex;
    background-color: #1F2937;
    color: #e5e7eb;
    height: 50px;

justify-content: center;
}

.odin {
    border: 2px solid white;
align-items: center;
text-align: center;

}