@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    color: white;
    padding: 0 300px; 
    background-color: #1F2937    ;
    display: flex;   
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    flex: 1;
    margin: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-self: flex-end;
    flex: 1;
}

.part1 {
    background-color: #1F2937    ;
    display: flex;
    padding: 100px 300px;
    gap: 30px;
    }

.content1 {
    padding: 0;
    margin: 0;
    flex: 1;
}

.link {
    color: #E5E7EB;
    font-size: 18px;
}

.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.holder {
    background-color: grey;
    flex: 1;
    display: flex;
    color:#E5E7EB
}

.center-me {
    margin: auto;
    text-align: center;
    flex: 1
    }


button {
    background-color: #3882f6;
    padding: 10px 20px;
    color: #f9faf8;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;}

.b1 {
    border: 1px solid #3882f6;
}


h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.bigbox{
    display: flex;
    justify-content: center;
    padding: 0 400px;
    gap: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.wrapper {
    width: 100px; 
}

.bluebox {
    justify-content: center;
    text-align: center;
    border: 2px solid #3882f6;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
}

.text {
    color: #1F2937;
    font-size: 10px;

}

.part3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 400px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.author {
    text-align: end;
    padding: 0 30px;
}

.cta {
    margin: 100px 300px;
    background-color: #3882f6;
    display: flex;
    padding: 50px 100px;
    border-radius: 8px;
    justify-content: space-between;

}

.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content3 {
    padding: 30px;
}


h2,
p {
   margin: 0;
    padding: 0;
    color: #E5E7EB;
    align-items: center;
}

h2{
    font-size: 30px;
}

p {
    font-size: 20px;
}

.b2 {
    border: 1px solid #f9faf8;
    align-self: flex-end;
}

footer{
    display: flex;
    background-color: #1F2937;
    color: #e5e7eb;
    height: 50px;
    justify-content: center;
    align-items: center;
    
}

.odin {
}

